<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/code/monokai.css' %}"/>
    <link href="//cdn.bootcss.com/materialize/0.97.5/css/materialize.min.css"
          rel="stylesheet">
    <link href="{% static 'materialize/css/materialize.min.css' %}"
          rel="stylesheet">
    <style>
        html {
            font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }

        header, main, footer {
            padding-left: 240px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }

        .parallax-container {
            height: 300px;
        }

        #nprogress .bar {
            background: blue;
        }

        #nprogress .spinner-icon {
            border-top-color: red;
            border-left-color: red;
        }
    </style>
    {% block title %}{% endblock %}
    {% block style %}{% endblock %}
    {% block headjs %}{% endblock %}
</head>
<body>
<div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/b.jpg' %}"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>

            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect
                where the background content or image in this case, is moved at
                a different speed than the foreground content while
                scrolling.</p>
            <a href="#" data-activates="slide-out" class="button-collapse"><i
                    class="mdi-navigation-menu"></i></a>

            <div id="pjax-container">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
    <!--sidenav start-->

    <ul id="slide-out" class="side-nav">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Dropdown<i
                            class="mdi-navigation-arrow-drop-down"></i></a>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">First</a></li>
                            <li><a href="#!">Second</a></li>
                            <li><a href="#!">Third</a></li>
                            <li><a href="#!">Fourth</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="right hide">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i
                class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
        </ul>
    </ul>
    <!--sidenav end-->
</div>
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
<script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
<script src="//cdn.bootcss.com/materialize/0.97.5/js/materialize.min.js"></script>
<script>
    $(".button-collapse").sideNav();
    $(document).ready(function () {
        $('.parallax').parallax();
    });

    $.pjax.defaults.maxCacheLength = 200000000;
    $(document).pjax('a', '#pjax-container');
    $(document).on('pjax:send', function () {
        NProgress.start();
    })
    $(document).on('pjax:complete', function () {
        NProgress.done();
    })
    $(document).on('pjax:end', function () {
        convertUML('uml-flowchart', flowchart);
        convertUML('uml-sequence-diagram', Diagram, {theme: 'simple'});
    })
</script>
{% block footjs %}{% endblock %}
</body>
</html>