<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/code/monokai.css' %}"/>
    <link href="//cdn.bootcss.com/materialize/0.97.5/css/materialize.min.css"
          rel="stylesheet">
    <style>
        #nprogress .bar {
            background: blue;
        }

        #nprogress .spinner-icon {
            border-top-color: red;
            border-left-color: red;
        }
    </style>
    {% block title %}{% endblock %}
    {% block style %}{% endblock %}
    {% block headjs %}{% endblock %}
</head>
<body>
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'blog:post_list' %}">主题</a></li>
                <li><a href="">分类 <span class="new badge">4</span></a></li>
                <li><a href="">关于</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="pjax-container">
        {% block main %}{% endblock %}
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
<script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
<script>
    $.pjax.defaults.maxCacheLength = 200000000;
    $(document).pjax('a', '#pjax-container');
    $(document).on('pjax:send', function () {
        NProgress.start();
    })
    $(document).on('pjax:complete', function () {
        NProgress.done();
    })
    $(document).on('pjax:end', function () {
        convertUML('uml-flowchart', flowchart);
        convertUML('uml-sequence-diagram', Diagram, {theme: 'simple'});
    })
</script>
<script src="//cdn.bootcss.com/materialize/0.97.5/js/materialize.min.js"></script>
{% block footjs %}{% endblock %}
</body>
</html>