{% load post_extrax %}
{% load static %}
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#post">文章</a>
            </li>
            <li class="tab col s3"><a href="#toc">目录</a></li>
        </ul>
    </div>
    <div id="post" class="col s12">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <p>

                    <h2>{{ post.title }}</h2>

                    <div class="chip">
                        <img src="{% static 'images/iblogc.png' %}"
                             alt="Contact Person">
                        {{ post.author }}
                    </div>
                    分类：{{ post.category }}
                    {% generate_tag post.tags.all %}
                    <p class="flow-text">{{ post.content_html|safe }}</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="toc" class="col s12">Test 3</div>
</div>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>

        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!"
           class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>