{% for post in posts %}
    <div class="row">
        <div class="col">
            <div class="card hoverable ">
                <div class="card-content black-text">
                    <span class="card-title ">{{ post.title }}</span>
                    <p>{{ post.content_html|striptags|truncatechars_html:300 }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.get_absolute_url}}">阅读全文</a>
                    {#              <a href="#">This is a link</a>#}
                </div>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}